<!-- Header -->
<header class="hero">
    <div class="container">

        <div class="hero-heading">Tailored consulting for your business</div>

        <a class="hero-subheading" href="#services">What can we do for you?</a>

        <div class="hero-mission">
            <ul>
                <li>Our mission is to offer Qualitative software solutions from business analysis to operational software</li>
                <li>Providing tailored consulting services using top-tier technologies while contributing to the open source community</li>
                <li>We own/offer the technology of the future</li>
            </ul>
        </div>
    </div>

    <div class="container hero-start">
        <a href="/#profile">
            <i class="las la-angle-double-down"></i>
        </a>
    </div>
</header>
